
/* setting up body and html background and font */
html{
    background-image: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}
  
  body {
    margin-top: 1.175em;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    font-family: 'Barlow Semi Condensed';
    user-select: none;
    padding-bottom: 3.5em;
  }
  
  .container{
      width: 80%;
      margin: 0 auto;
  }
/* adding style to the header */
  header {
      padding: 0.75em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid hsl(217, 16%, 45%);
      border-radius: 8px;
      background-image: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
      margin-bottom: 0;
  }
  /* setting up the content of the header and adding style */
  .score-display{
      background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      border-radius: 4px;
      width: 80px;
      height: 72px;
      text-align: center;
      align-items: center;
      justify-content: center;
      
  }
  
  .logo{
      width: 59px;
      height: 58px;
  }
  
  .score-display p{
      color: #2A45C2;
      font-size: 0.625rem;
      margin-bottom: 0;
      font-weight: 600;
      
  }
  
  .score-display h1{
      color: #565468;
      font-size: 2.5rem;
      margin: 0;
  }
  
/* adding style to the buttons and pentagon */
  .btns-display{
      margin-top: 5.1875em;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;  
  }
  
  .btns-display button{
      width: 96px;
      height: 97px;    
      border-radius: 50%;
  }
  /* making sure background image does not repeat */
  .background-img{
      background-repeat: no-repeat; 
      background-position: center;
      background-size: 50%; 
      position: absolute;

  }
  
  /* buttons inside the pentagon styling */
  
  .pentagon{
      width: 215.89px;
      height: 205.32px;
  }
  
  /* The original buttons in the pentagon styling */
   .rock-btn{
      border: 10px solid #DB2E4D;
      background-image: url(images/icon-rock.svg); 
      box-shadow: 0px 5px 1px 0px #9D1634, 0px 5px 1px #BABFD4 inset;
      grid-column: 2/2;
      grid-row: 1/1;
      top: 150px;
      margin-left: 9.375em;
  }
  .scissors-btn{
      border: 10px solid #EB9F0E;
      background-image: url(images/icon-scissors.svg);
      box-shadow: 0px 5px 1px 0px #C76C1B, 0px 5px 1px #BABFD4 inset;
      position: absolute;
      top: -30px;
  }
  
  .spock-btn{
      border: 10px solid #3FB7CD;
      background-image: url(images/icon-spock.svg);
      box-shadow: 0px 5px 1px 0px #2D8DAB, 0px 5px 1px #BABFD4 inset;
      top: 30px;
      margin-left: -14.375em;
  }
  
  .paper-btn{
      border: 10px solid #4664F4;
      background-image: url(images/icon-paper.svg);
      box-shadow: 0px 5px 1px 0px #2A45C2, 0px 5px 1px #BABFD4 inset;
      top: 30px;
      margin-left: 14.375em;
  }
  
  .lizard-btn{
      border: 10px solid #834EE3;
      background-image: url(images/icon-lizard.svg);
      box-shadow: 0px 5px 1px 0px #5F37A8, 0px 5px 1px #BABFD4 inset;
      top: 150px;
      margin-left: -9.375em;
  }
  
  /* setting up rules button styling */
  .rules-btn{
      width: 128px;
      height: 40px;
      border: 1px solid #FFFFFF;
      border-radius: 8px;
      background-image: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      display: block;
      margin: 7.875em auto 0 auto;
      font-family: inherit;
  }
  /* Phone styling for the rules page */
   .rules-display{
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 137px;
  }
  
  .rules-display h1{
      color: #3B4262;
      font-family: inherit;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: -1.282em;
  }
  
 #close-btn{
     margin-bottom: -1.85em;
 }
   
  
 
/* styling the buttons computer and player choses */
  
  #display-container{
      display: none;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-top: 6.6em;
      margin-bottom: 0;
  }
  /* display for the empty button before computer chooses */
   .space{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background: hsl(237, 49%, 15%);
      border: none;
  }
  /* styling for the text for the buttons */
  .text{
      font-family: 'Barlow Semi Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9375rem;
      line-height: 32px;
      color: white;
      text-align: center;
      margin-bottom: 0;
  }
  
  #my-div{
      display: flex;
      flex-direction: column;
      
  }
  
  #com-div{
      display: flex;
      flex-direction: column;
  }
  /* getting images to center and avoid repeating in displayContainer */
  #display-container button{
      background-repeat: no-repeat; 
      background-position: center;
      background-size: 50%; 
      width: 130px;
      height:  133px;
      border-radius: 50%;
  }
  
  .rock{
      border: 15px solid #DB2E4D;
      background-image: url(images/icon-rock.svg); 
      box-shadow: 0px 5px 1px 0px #9D1634, 0px 5px 1px #BABFD4 inset; 
      
      
  }
.scissors{
      border: 15px solid #EB9F0E;
      background-image: url(images/icon-scissors.svg);
      box-shadow: 0px 5px 1px 0px #C76C1B, 0px 5px 1px #BABFD4 inset;
      
  }
  /* styling for display-container buttons(sizes) */
.spock{
      border: 15px solid #3FB7CD;
      background-image: url(images/icon-spock.svg);
      box-shadow: 0px 5px 1px 0px #2D8DAB, 0px 5px 1px #BABFD4 inset;    
  }
  
.paper{
      border: 15px solid #4664F4;
      background-image: url(images/icon-paper.svg);
      box-shadow: 0px 5px 1px 0px #2A45C2, 0px 5px 1px #BABFD4 inset;  
  }
  
.lizard{
      border: 15px solid #834EE3;
      background-image: url(images/icon-lizard.svg);
      box-shadow: 0px 5px 1px 0px #5F37A8, 0px 5px 1px #BABFD4 inset; 
      
  }
  
  
 /* play again div styling */
  #play-again{
      display: none;
      background: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  h2{
      color: white;
      font-size: 3.5rem;
      margin-bottom: 0.175em;
      
  }

  #play-again button{
      display: none;
      width: 220px;
      height: 48px;
      font-weight: 600;
      font-size: 1rem;
      font-family: 'Barlow Semi Condensed';
      border-radius: 8px;
      color: #3B4262;
      background: linear-gradient(#F3F3F3, #FFFFFF);
      margin-bottom: -5.5em;
  }
 /* div that appears when a player wins */
 .shadow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 213px;
    border-radius: 50%; 
    box-shadow: inset 0px 0 0 20px rgba(255, 255, 255, 0.05), 0 0 0 28px rgba(255, 255, 255, 0.01);;
    border:24px solid rgba(255, 255, 255, 0.03);
    box-sizing: border-box;
    margin-top: -2.667em;
  }

 /*setting margins to reorganize buttons when shadow is applied  */
.player-text{
    margin-top: -1.667em;
 } 
 
.com-text{
    margin-bottom: -1.667em;
 }

.margin-left{
    margin-left: -2.667em; 
}
.margin-right{
    margin-right: -2.667em;
}
    
.shadow1{
    margin-left: -2.667em;
}
.shadow2{
    margin-right: -2.667em;
}




  

  
  @media (min-width: 1024px) {
    /* Styles for desktop */
    
    .logo{
        width: 108.84px;
        height: 108.08px;
    }
    
    .choices-container{
        margin-top: 6em;
    }
    
    header{
        width: 700px;
        height: 150px;
    }

    .score-display{
        width: 150px;
        height: 114px;
        line-height: 1;
    }
    
    .score-display h1{
      font-size: 64px;
    }
    
    .score-display p{
      font-size: 1rem;
      
    }
    
    .pentagon{
      width: 328.11px;
      height: 312.06px;
    }
    
    .btns-display button{
      width: 145px;
      height: 148px;
      border-width: 18px;
    }
    /* setting up the choices-container button resized positions */
    .rock-btn{
        top: 250px;
        margin-left: 200px;
        cursor: pointer;
    }
    
    .lizard-btn{
        top: 250px;
        margin-left: -200px;
        cursor: pointer;
    }

    body{
        margin-bottom: 2em;
    }
    
    .spock-btn{
        top: 50px;
        margin-left: -350px;
        cursor: pointer;
    }
    
    .paper-btn{
        top: 50px;
        margin-left: 350px;
        cursor: pointer;
        
    }
    
    .scissors-btn{
        top: -60px;
        cursor: pointer;
    }
    
    .rules-btn{
        margin: -20em 2em 0 auto;
        cursor: pointer;
    }
    
    
    .rules-display{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        gap: 0;
        background: white;
        width: 400px;
        height: 461px;
        display: none;
        grid-template: 1fr 400px / 1fr 1fr 1fr;
        border-radius: 8px;
    }
    
    .rules-display h1{
        align-self: flex-start;
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 32px 0 0 32px;
    }
    
    #close-btn {
        align-self: flex-start;
        grid-row: 1/2;
        grid-column: 3/4;
        margin-top: 38px;
        margin-left: -23px;
    }
    
    .rules-diagram{
        width: 336px;
        height: 330px;
        grid-row: 2/3;
        grid-column: 2/3;
        margin-left: -83px;
        
    }
    
    .text{
        margin-top: -400px
    }
    
    .player-text{
        margin-top: -537px;
    }
    .margin-btn{
        margin-bottom: 65px;
    }
    
    #display-container button{
        width: 292.61px;
        height: 300px;
        border-width: 36px;
        margin-top: 63px  
    }
    
    #display-container{
        gap: 71px;
        width: 100%;
    }
    

    
    #display-container p{
        font-size: 24px;
        
    }
    
    .shadow{
        width: 572.61px;
        height: 570px;
        box-shadow: inset 0 0 0 70px rgba(255, 255, 255, 0.05), 0 0 0 80px rgba(255, 255, 255, 0.01);
        border: 70px solid rgba(255, 255, 255, 0.03);
        box-sizing: border-box;
        margin-top: -70px;
    }
    
    #play-again{
        margin-top: 80px;
        margin-bottom: 320px;
    }
    
   .shadow1{
      margin-left: -120px;
  }
  .shadow2{
      margin-right: -120px;
  } 

  .margin-left{
     margin-left: 200px; 
  }
  .margin-right{
      margin-right: 200px;
  }
   
   .margin-top{
       margin-top: 7.5em;
   } 
   

  }
  
  
  
